.clients{
    padding-top: 115px;
}

.clients__heading{
    margin: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
}

.clients__container{
    display: flex;
    flex-direction: column;
}

.display-info{
   padding: 20px;
   margin-bottom: 10px;
   display: block;
}

/* https://youtu.be/2atu0m-kOhw?list=PLktakr6XMkP-FBr68wgI8xzMsXzE-ZqZF&t=2263 */