.clients{
    padding-top: 115px;
}

.clients__heading{
    margin: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
}

.clients__container{
    display: flex;
    flex-direction: column;
}

.display-info{
   padding-left: 20px;
   margin-bottom: 10px;
   display: block;
}

.display-info__wrapper{
    display: flex;
    align-items: center;
}

.display-info__item{
    color: var(--color-placeholder);
    font-size: 12px;
}

.display-info__item--id{
    text-transform: uppercase;
    color: var(--color-blue);
}



